@define-color waybar-bg #141414;
@define-color waybar-fg #9b8d7f;

@define-color waybar-warning #b5a98a;
@define-color waybar-danger #d1655c;
@define-color waybar-charging #7a8b6e;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  padding: 0;
  font-weight: 700;
}

window#waybar {
  background: @waybar-bg;
  color: @waybar-fg;
}

tooltip {
  background-color: @waybar-bg;
  color: @waybar-fg;
  border-radius: 4px;
  padding: 6px 10px;
}

#workspaces button {
  color: @waybar-fg;
  font-weight: 600;
}

#workspaces button.focused {
  background-color: @waybar-fg;
  color: @waybar-bg;
  font-weight: 700;
}

#workspaces button.active {
  background-color: @waybar-bg;
  color: @waybar-fg;
}

#custom-screenrecording-indicator,
#custom-last-updated,
#mpris,
#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#battery {
  margin: 2px 2px 0px 0px;
  padding: 2px 6px;
  color: @waybar-fg;
  font-weight: 700;
}

#custom-separator {
  color: @waybar-fg;
  opacity: 0.4;
  padding: 0 2px;
}

#clock {
  font-weight: 800;
}

#network.disconnected,
#battery.warning {
  color: @waybar-warning;
}

#battery.charging {
  color: @waybar-charging;
}

#battery.critical {
  color: @waybar-danger;
}

#custom-last-updated.critical {
  color: @waybar-danger;
}

#custom-screenrecording-indicator.active {
  color: @waybar-danger;
}