@define-color waybar-bg #121212;
@define-color waybar-fg #d0d0d0;

@define-color waybar-warning #7a8b6e;
@define-color waybar-danger #6b3a3a;
@define-color waybar-charging #8fa3ad;

@define-color waybar-workspace-active-bg #333333;
@define-color waybar-workspace-occupied-fg #a0a0a0;
@define-color waybar-workspace-empty-fg #505050;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Inter";
  font-size: 11px;
  padding: 0;
}

window#waybar {
  background: @waybar-bg;
  color: @waybar-fg;
}

tooltip {
  background-color: @waybar-bg;
  color: @waybar-fg;
  border-radius: 4px;
  padding: 6px 10px;
}

#mpris.paused {
  opacity: 0.4;
}

#workspaces button {
  color: @waybar-workspace-empty-fg;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @waybar-workspace-active-bg;
  color: @waybar-workspace-occupied-fg;
}

#custom-screenrecording-indicator,
#mpris,
#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#battery {
  margin: 2px 2px 0px 0px;
  padding: 2px 6px;
  color: @waybar-fg;
  font-weight: 600;
}

#tray,
#custom-expand {
  padding: 0 4px;
  font-weight: 600;
  opacity: 1;
}

#network.disconnected,
#battery.warning {
  color: @waybar-warning;
}

#battery.charging {
  color: @waybar-charging;
}

#battery.critical {
  color: @waybar-danger;
}

#custom-last-updated.critical {
  color: @waybar-danger;
}

#custom-screenrecording-indicator.active {
  color: @waybar-danger;
}


